body{
    margin: 0;
}

.container{
    display: grid;
    min-height: 1600px;
    grid-template-rows: auto auto auto auto;
    /* position: relative; */
}

.parallaxClass {
    background: url("../Assets/MIAMI_SKYLINE.jpg") no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
}

  /* Smartphone */
  @media screen and (max-width: 767px) {

    .parallaxClass {
        background: url("../Assets/MIAMI_SKYLINE.jpg") no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
        position: fixed;
    }

    .container{
        display: grid;
        min-height: 1600px;
        grid-template-rows: auto auto auto auto;
        position: relative;
    }

  }