body{
    margin: 0;
}

.container{
    display: grid;
    min-height: 1600px;
    grid-template-rows: auto auto auto auto;
}

.parallax {
    background: url("../Assets/MIAMI_SKYLINE.jpg") no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
}

  /* Smartphone */
  @media screen and (max-width: 767px) {

    .parallax{
        background: #b9e9f9;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
    }

  
  }