.div_section_one{
    grid-row: 1;
    min-height: 500px;
    background-color: #eeabc3d1;
    display: grid;
    grid-template-columns: 60% 40%;
}

.friday_text{
    grid-column: 1;
    display: grid;
    grid-template-rows: 20% 80%;
}

.friday_header{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friday_one{
    display: grid;
    grid-row: 2;
    margin-top: 2em;

}

.third_column{
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friday_pic_holder{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.friday_h1{
    font-size: 3vw;
    /* color: #EEEBD3; */
    color: #3AB795;
    text-shadow: -2px -2px 0 #E15A97, 2px -2px 0 #E15A97, -2px 2px 0 #E15A97, 2px 2px 0 #E15A97;
    font-family: 'Kalam', cursive;
    text-decoration: underline;
    margin-bottom: .5em;
}

.description{
    grid-column: 2;
}

.row_icon{
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li_2{
    margin-top: 1em !important;
}

.li_3{
    margin-top: 1em !important;
}

.description_offset{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    grid-column: 3;
    z-index: 2;
    background-color: #eeabc206;
}

.row_icon_offset{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_name{
    font-size: 3vw;
    font-family: 'Kalam', cursive;
    color: #EEEBD3;
    text-shadow: -2px -2px 0 #E15A97, 2px -2px 0 #E15A97, -2px 2px 0 #E15A97, 2px 2px 0 #E15A97;
    margin: 0em;
}

.event_time{
    font-size: 3vw;
    font-family: 'Kalam', cursive;
    color: #EEEBD3;
    text-shadow: -2px -2px 0 #E15A97, 2px -2px 0 #E15A97, -2px 2px 0 #E15A97, 2px 2px 0 #E15A97;
    margin: 0em;
}

.event_link{
    text-decoration: none;
    margin: 0;
    padding: 0;

}

.onset_p_tag{
    font-size: 3vw;
    font-family: 'Kalam', cursive;
    color: #EEEBD3;
    text-shadow: -2px -2px 0 #E15A97, 2px -2px 0 #E15A97, -2px 2px 0 #E15A97, 2px 2px 0 #E15A97;
    margin: 0em;
    /* border-bottom: 1.5px solid #3AB795; */
    border-bottom: 1.5px solid #E15A97;
}

.offeset_p_tag{
    font-size: 2vw;
}

.icon_class{
    
}

.day_pic_class{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: bottom right; */
    border-radius: 10px;
}

.task_item_class{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* object-position: bottom right; */
    border-radius: 10px;
}

.mobile-header{
    display:none;
}

  /* Smartphone */
  @media screen and (max-width: 767px) {

    .div_section_one{
        grid-row: 1;
        min-height: 500px;
        background-color: #eeabc3d1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10 40% 50%;
    }
    
    .friday_text{
        grid-column: 1;
        grid-row: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33.33% 33.33% 33.33%;
    }
    
    .friday_header{
        grid-row: 1;
        display: none;
    }
    
    .friday_one{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: 15% 70% 15%;
        margin-top: .5em;
        margin-bottom: 1.5em;
    }
    
    .friday_two{
        display: grid;
        grid-column: 1;
        grid-row: 2;
        grid-template-rows: 100%;
        grid-template-columns: 30% 70%;
    }
    
    .friday_three{
        display: grid;
        grid-column: 1;
        grid-row: 3;
        grid-template-columns: 70% 30%;
    }
    
    .friday_pic_holder{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .friday_h1{
        /* display: none; */
        font-size: 3vh;
        color: #3AB795;
        text-shadow: -1px -1px 0 #E15A97, 1px -1px 0 #E15A97, -1px 1px 0 #E15A97, 1px 1px 0 #E15A97;
        font-family: 'Kalam', cursive;
        text-decoration: underline;
    }
    
    .description{
        grid-column: 2;
        display: grid;
        padding-left: 0;
    }
    
    .row_icon{
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .description_offset{
        grid-row: 1;
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row_icon_offset{
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .onset_p_tag{
        font-size: 2.2vh;
        text-shadow: -1px -1px 0 #E15A97, 1px -1px 0 #E15A97, -1px 1px 0 #E15A97, 1px 1px 0 #E15A97;
    }
    
    .offeset_p_tag{
        font-size: 2vw;
    }
    
    .icon_class{
        
    }
    
    .day_pic_class{
    
    }

    .mobile-header{
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  }
