.div_section_three{
    margin-top: 50px;
    grid-row: 3;
    min-height: 500px;
    background-color: #eeabc3d1;
    display: grid;
    grid-template-columns: 60% 40%;
}

  /* Smartphone */
  @media screen and (max-width: 767px) {

    .div_section_three{
        grid-row: 3;
        min-height: 500px;
        background-color: #eeabc3d1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10 40% 50%;
    }

}