.div_section_monday{
    margin-top: 50px;
    grid-row: 5;
    min-height: 500px;
    background-color: #eeabc3d1;
    display: grid;
    grid-template-columns: 40% 60%;
}

  /* Smartphone */
  @media screen and (max-width: 767px) {

    .div_section_monday{
        grid-row: 5;
        min-height: 500px;
        background-color: #eeabc3d1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10 40% 50%;
        margin-top: .5em;
        margin-left: .5em;
        margin-right: .5em;
        border-radius: 10px;
    }

}