.div_section_two{
    margin-top: 50px;
    grid-row: 3;
    min-height: 500px;
    background-color: #eeabc3d1;
    display: grid;
    grid-template-columns: 40% 60%;
}

.saturday_text{
    grid-column: 2;
    display: grid;
    grid-template-rows: 20% 80%;
}

.friday_header{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saturday_one{
    display: grid;
    grid-row: 2;
    margin-top: 2em;
}

.saturday_two{
    display: grid;
    grid-row: 3;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
}

.saturday_three{
    display: grid;
    grid-row: 4;
    grid-template-columns: 30% 70%;
}

.saturday_pic_holder{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.friday_h1{
    font-size: 4vw;
    /* color: #EEEBD3; */
    color: #3AB795;
    text-shadow: -2px -2px 0 #E15A97, 2px -2px 0 #E15A97, -2px 2px 0 #E15A97, 2px 2px 0 #E15A97;
    font-family: 'Kalam', cursive;
    text-decoration: underline;
    margin-top: 1em;
}

.row_icon{
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saturday_row_icon{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_offset{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_icon_offset{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offeset_p_tag{
    font-size: 2vw;
}

.icon_class{
    
}

.day_pic_class{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: bottom right; */
    border-radius: 10px;
}

.mobile-header{
    display:none;
}


  /* Smartphone */
  @media screen and (max-width: 767px) {

    .div_section_two{
        grid-row: 3;
        min-height: 500px;
        background-color: #eeabc3d1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10 40% 50%;
        margin-top: .5em;
        margin-left: .5em;
        margin-right: .5em;
        border-radius: 10px;
    }

    .saturday_text{
        grid-column: 1;
        grid-row: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33.33% 33.33% 33.33%;
    }
    
    .friday_header{
        grid-row: 1;
        display: none;
    }
    
    .saturday_one{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: 15% 70% 15%;
        margin-top: .5em;
        margin-bottom: 1.5em;
    }
    
    .saturday_two{
        display: grid;
        grid-column: 1;
        grid-row: 2;
        grid-template-rows: 100%;
        grid-template-columns: 70% 30%;
    }
    
    .saturday_three{
        display: grid;
        grid-column: 1;
        grid-row: 3;
        grid-template-columns: 30% 70%;
    }
    
    .saturday_pic_holder{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .friday_h1{
        /* display: none; */
        font-size: 4.5vh;
        color: #3AB795;
        text-shadow: -1px -1px 0 #E15A97, 1px -1px 0 #E15A97, -1px 1px 0 #E15A97, 1px 1px 0 #E15A97;
        font-family: 'Kalam', cursive;
        text-decoration: underline;
        margin-top: 0;
        margin: .1em;
    }
    
    .description{
        grid-column: 2;
        display: grid;
    }
    
    .row_icon{
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .saturday_row_icon{
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .description_offset{
        grid-row: 1;
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row_icon_offset{
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .onset_p_tag{
        font-size: 2.5vh;
        text-shadow: -1px -1px 0 #E15A97, 1px -1px 0 #E15A97, -1px 1px 0 #E15A97, 1px 1px 0 #E15A97;
        white-space: nowrap;
    }
    
    .offeset_p_tag{
        font-size: 2vw;
    }

    .cover{
        grid-column: 3;
        z-index: 3;
        background-color: #eeabc206;
    }
    
    .icon_class{
        
    }
    
    .day_pic_class{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom right;
    }

    .mobile-header{
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}