.header_class{
    min-height: 450px;
    background-color: none;
}

.header_h3{
    display: flex;
    justify-content: center;
    align-self: start;
    color: #3AB795;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: .15em;
}

.header_p{
    display: flex;
    justify-content: center;
    align-self:center;
    color: #3AB795;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3vw;
    margin-top: .15em;
    margin-bottom: .15em;
}

.header_h1{
    display: flex;
    justify-content: center;
    align-self:flex-end;
    color: #E15A97;
    text-shadow: -3px -3px 0 #3AB795, 3px -3px 0 #3AB795, -3px 3px 0 #3AB795, 3px 3px 0 #3AB795;
    font-family: 'Kalam', cursive;
    font-size: 10vw;
    margin-top: 0em;
    margin-bottom: 0;
}

  /* Smartphone */
  @media screen and (max-width: 767px) {

    .header_class{
        min-height: 200px;
        background-color: none;
    }
    
    .header_h3{
        display: flex;
        justify-content: center;
        align-self: start;
        color: #3AB795;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 5vh;
        margin-top: 0;
        margin-bottom: .15em;
    }
    
    .header_p{
        display: flex;
        justify-content: center;
        align-self:center;
        color: #3AB795;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 3vh;
        margin-top: .15em;
        margin-bottom: 0em;
    }

    /* #E15A97 */
    
    .header_h1{
        display: flex;
        justify-content: center;
        align-self:flex-end;
        color: #E15A97;
        text-shadow: -3px -3px 0 #3AB795, 3px -3px 0 #3AB795, -3px 3px 0 #3AB795, 3px 3px 0 #3AB795;
        font-family: 'Kalam', cursive;
        font-size: 10vh;
        margin-top: 0em;
        margin-bottom: 0;
    }

}



