.topnav {
  display: none;
  }
  
  .topnav a {
    display: none;
  }
  

  /* Smartphone */
@media screen and (max-width: 767px) {

  .topnav {
    display:block;
    overflow: hidden;
    background-color: #e15a9785;
    height: 45px;
    width: 100vw;
    position: fixed; 
    z-index: 11;
  }

  .topnav a {
    display: block;
    float: right;
    width: calc(100vw/3);
    /* color: #3AB795; */
    /* color: #393D3F; */
    outline: none;
    text-align: center;
    padding: 12px 0px 12px 0px;
    text-decoration: none;
    font-size: 5vw;
    font-family: 'Questrial', sans-serif;
  }

  .party_popper_container{
    display: block;
    float: left;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 4vw;
  }

  .party_popper_png{
    max-height: 27px;
  }

  /* .topnav a:hover {
    color: #3AB795;
    font-family: 'Questrial', sans-serif;
  } */

  .backToNorm{
    color: #393D3F;
  }

  .inView {
    color: #3AB795;
  }
  
  /* .topnav a.active {
    color: #3AB795;
    font-weight: 900;
    font-family: 'Questrial', sans-serif;
  } */

}




