.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(67, 80, 88);
    overflow-x: hidden;
    transition: 0.6s;
    z-index: 999;
}
  
.mobile-open-animation{
    animation: animate-in .1s linear forwards;
    /* animation-delay: .1s; */
}

.mobile-close-animation{
    animation: animate-out .4s linear forwards;
    /* animation-delay: .1s; */
}

.overlay-content {
    visibility: hidden;
    position: relative;
    top: 10%;
    width: 100%;
    text-align: left;
    margin-left: 1.5em;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    color: #DCF763;
    display: block;
    transition: 0.4s;
}
  
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    right: 5px;
    font-size: 2em;
    padding-top: 2px;
}

@keyframes animate-in {
    0% {
        visibility: hidden;
        opacity: 0;
        font-size: 0em;
    }
    25% {
        visibility: visible;
        opacity: 35%;
        font-size: .75em;
    }   
    50% {
        visibility: visible;
        opacity: 60%;
        font-size: 1.25em;
    }  
    75% {
        visibility: visible;
        opacity: 85%;
        font-size: 1.75em;
    }    
    100% {
        visibility: visible;
        opacity: 100%;
        font-size: 2em;
    }
}

@keyframes animate-out {
    0% {
        visibility: visible;
        opacity: 100%;
        font-size: 2em;
    }
    25% {
        visibility: visible;
        opacity: 75%;
        font-size: 1.5em;
    }   
    50% {
        visibility: visible;
        opacity: 50%;
        font-size: 1em;
    }  
    75% {
        visibility: visible;
        opacity: 25%;
        font-size: .5em;
    }    
    100% {
        visibility: hidden;
        opacity: 0;
        font-size: 0em;
    }
}

  
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}